# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
.venv/
env/
ENV/

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Docker
*.log
*.pid
*.pydevproject
*.project
.cache/
coverage.xml
htmlcov/
nosetests.xml
.pytest_cache/
pytest-debug.log
.vscode/
__pycache__/
*.pyc

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/

# Translations
*.mo
*.pot

# Flask stuff:
instance/
.webassets-cache

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
.python-version

# pipenv
# According to pypa/pipenv#598, it is recommended to include Pipfile.lock in version control.
# However, in case of collaboration, if having platform-specific dependencies or dependencies
# having no cross-platform support, pipenv may install dependencies that don't work, or not
# install all needed dependencies.
Pipfile.lock

# PEP 582; used by e.g. github.com/David-OConnor/pyflow
__pypackages__/

# dotenv
.env

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

# pyright type checker
.pyright/

# VS Code
.vscode/

# Docker
**/.dockerignore

# Ignore IDE files
.idea/

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
media
staticfiles

# Flask instance folder
instance/

# Add logs
logs/
*.log

# Ignore macOS hidden files
.DS_Store

# Ignore Windows hidden files
Thumbs.db

# Migrations
migrations/

app/my-react/node_modules/

venv/

todoList.pem
