<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Verify MFA</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
<div class="container">
  <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
      <main class="form-signin w-100 m-auto">
        <form method="POST">
          <h1 class="h3 mb-3 fw-normal">Verify Two-Factor Authentication</h1>
          <div class="form-group">
            <label for="otp">Enter OTP from your Authenticator App</label>
            <input type="text" name="otp" id="otp" class="form-control" placeholder="Enter OTP" required autofocus>
          </div>
          <button class="w-100 btn btn-lg btn-primary mt-3" type="submit">Verify</button>
        </form>
      </main>
    </div>
    <div class="col-md-4"></div>
  </div>
</div>
</body>
</html>
